# ETL

O objetivo deste notebook é fazer a leitura dos dados na tabela de input do streaming(todas as colunas em 1 linha) e escrever os dados na tabela 'laps', com as colunas separadas e assim conseguirmos fazer analises.

In [1]:
# !pip install confluent-kafka psycopg2-binary

In [2]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

/tmp/ipykernel_1445/3998025286.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
ano="2022"

## Extract

In [4]:
# Configurações de conexão com o PostgreSQL
db_config = {
    'host': 'postgres',
    'database': 'f1',
    'user': 'admin',
    'password': 'admin'
}
try:
    connection = psycopg2.connect(**db_config)
    cursor = connection.cursor()
    query = f"select col_1 from f1_schema.laps_{ano}"

    cursor.execute(query)
    dados = cursor.fetchall()

    registro=[]
    for linha in dados:
        registro.append(linha[0].replace('\n','').split(';'))
    df = pd.DataFrame(registro, columns=['raceId', 'driverId', 'lap', 'position', 'time', 'milliseconds'])

except (Exception, psycopg2.Error) as error:
    print("Erro coletando dados do PostgreSQL", error)

finally:
    # closing database connection.
    if connection:
        cursor.close()
        connection.close()
        print("Conexão encerrada com o PostgreSQL")

Conexão encerrada com o PostgreSQL

## Transform

In [5]:
df

      raceId driverId lap position      time milliseconds
0       1074      844   1        1  1:39.070        99070
1       1074      830   1        2  1:40.236       100236
2       1074      832   1        3  1:41.006       101006
3       1074        1   1        4  1:41.555       101555
4       1074      825   1        5  1:42.333       102333
...      ...      ...  ..      ...       ...          ...
20761   1094        1  50        2  1:22.608        82608
20762   1094      832  50        5  1:22.810        82810
20763   1094        4  50        7  1:22.933        82933
20764   1094      844  50        6  1:22.968        82968
20765   1094      839  50        8  1:23.589        83589

[20766 rows x 6 columns]

In [6]:
# verificando os tipos de colunas
df.dtypes

raceId          object
driverId        object
lap             object
position        object
time            object
milliseconds    object
dtype: object

In [7]:
# ajustando os tipos das colunas 
df[['raceId','driverId', 'lap', 'position', 'milliseconds']] = df[['raceId','driverId', 'lap', 'position', 'milliseconds']].apply(pd.to_numeric)

In [8]:
# verificando os tipos de colunas
df.dtypes

raceId           int64
driverId         int64
lap              int64
position         int64
time            object
milliseconds     int64
dtype: object

## LOAD

In [9]:
# inserindo dados no postgres
engine = create_engine('postgresql://admin:admin@postgres:5432/f1') 
df.to_sql(name=f'tb_laps_{ano}', con=engine, schema='f1_schema', if_exists='replace',index=False)

766